<h1>Questions</h1>
<p><%= link_to('New Question', new_question_path) %></p>

<ul class="selection">
<% @questions.each do |question| %>
  <li>
    <%= link_to(question.title, question_path(question)) %>
    <span class="options">
      <%= link_to('Edit', edit_question_path(question)) %>
      <%= link_to('Delete', delete_question_path(question)) %>
    </span>
  </li>
<% end %>
</ul>