<div class="warning">
  <div class="heading">
    <h2>Warning</h2>
    <%= link_to('close', '#', :class => "close")  %>
  </div>
  <p>Coping index exceeded</p>
</div>

<%= javascript_tag do %>
  $('.warning .close').click(function() {
    $(this).closest('.warning').hide();
  })
<% end %>