<nav>
  <ul>
    <li><%= link_to('Directory', answers_path) %></li>
    <li><%= link_to('Questionnaires', questionnaires_path) %></li>
    <li><%= link_to('Rule Sets', rule_sets_path) %></li>
    <li><%= link_to('Questions', questions_path) %></li>
  </ul>
</nav>
