<div id="body-nav">
  <div class="menu-header">
    <ul id="menu-global" class="menu">
      <li class="menu-item"><a href="/democracy">Democracy</a></li>
      <li class="menu-item"><a href="/financeandsuppliers">Finance &amp; suppliers</a></li>
      <li class="menu-item"><a href="/jobs">Jobs &amp; careers</a></li>
      <li class="menu-item"><a href="/listsanddata">Lists &amp; data</a></li>
      <li class="menu-item"><a href="/organisation">Organisation</a></li>
      <li class="menu-item"><a href="/performance">Performance</a></li>
      <li class="menu-item"><a href="/policies">Policies</a></li>
      <li class="menu-item"><a href="/projects">Projects</a></li>
      <li class="menu-item"><a href="/strategies">Strategies &amp; priorities</a></li>
    </ul>
  </div>
</div>
