<!--Header begins-->

<div id="topnavigation">
  <ul>
    <li><a href="http://www.warwickshire.gov.uk/home" accesskey="1">Home</a></li>
    <li><a href="http://www.warwickshire.gov.uk/accessibility">Accessibility</a></li>
    <li><a href="http://www.warwickshire.gov.uk/disclaimer">Privacy</a></li>
    <li><a href="http://www.warwickshire.gov.uk/cookies">Cookies</a></li>
    <li><a onClick="gofeed();return false;" href="http://www.warwickshire.gov.uk/feedbackmail" accesskey="9">Contact</a></li>
    <li class="topnavigation-last"><a href="http://www.warwickshire.gov.uk/myaccount">My Account</a></li>
  </ul>
</div>
<div id="header">
  <h1>Warwickshire Direct</h1>
  <div id="logo">
  <a href="http://www.warwickshire.gov.uk/home"><img src="http://www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/WDlogo/$file/wdwhitelogo.png" alt="Warwickshire Direct - home" title="Warwickshire Direct - home" border="0" /></a>
  </div>
  <div id="galaxy-nav">
    <ul>
      <li><a href="http://www.warwickshire.gov.uk/news">News</a></li>
      <li><a href="http://www.warwickshire.gov.uk/events">Events</a></li>
      <li><a href="http://www.warwickshire.gov.uk/consultations">Consultations</a></li>
      <li><a href="http://www.warwickshire.gov.uk/jobs">Jobs</a></li>
      <li><a href="http://www.warwickshire.gov.uk/childrenandyoungpeople">Young People</a></li>
      <li><a href="http://www.warwickshire.gov.uk/corporate">The Council</a></li>
    </ul>
  </div>
  <div id="search">
    <form action="http://search3.openobjects.com/kb5/warwickshire/search/results.page" method="get" name="kbs">
      <label for="qtbottom" class="skip" style="display:none;">Search again</label>
      <input type="text" maxlength="1000" size="40" name="qt" id="qtbottom" placeholder="Search" accesskey="4">
      <input type="submit" value="Search" id="kbsubmitbottom"  style="display:none;">
    </form>
  </div>
</div>

<!--Header ends-->

<div id="body-nav">
  <div class="menu-header">
    <ul id="menu-global" class="menu">
      <li class="menu-item"><a href="/democracy">Democracy</a></li>
      <li class="menu-item"><a href="/financeandsuppliers">Finance &amp; suppliers</a></li>
      <li class="menu-item"><a href="/jobs">Jobs &amp; careers</a></li>
      <li class="menu-item"><a href="/listsanddata">Lists &amp; data</a></li>
      <li class="menu-item"><a href="/organisation">Organisation</a></li>
      <li class="menu-item"><a href="/performance">Performance</a></li>
      <li class="menu-item"><a href="/policies">Policies</a></li>
      <li class="menu-item"><a href="/projects">Projects</a></li>
      <li class="menu-item"><a href="/strategies">Strategies &amp; priorities</a></li>
    </ul>
  </div>
</div>
