
<div id="footer">
  <div id="footer-logo">
  <img src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/WDlogo/$file/wdwhitelogo.png" alt="Warwickshire Direct" />
  <img width="156" height="70" src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/WSWCClogo/$file/WCC+logo.png" alt="Warwickshire County Council" />
  <img src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/W4Wlogofooter/$file/w4w-footer.png" alt="Working For Warwickshire" />
  </div>
  <div class="footer-sub" id="footer-sub-contacts">
    <h3>Contact details</h3>
    <ul itemscope itemtype="//data-vocabulary.org/Organization">
      <li itemprop="address" itemscope itemtype="//data-vocabulary.org/Address"><h4>Main address</h4><span itemprop="name">Warwickshire County Council</span><br /><span itemprop="street-address">Shire Hall</span><br /><span itemprop="locality">Warwick</span><br /><span itemprop="postal-code">CV34 4RL</span><br /></li>
      <li><h4>Telephone</h4><span class="mobile-tel"><a href="tel:01926410410" itemprop="tel">01926 410410</a></span><span class="desktop-tel">01926 410410</span><br />Mon - Fri: 8am - 8pm<br />Sat: 9am - 4pm<br /></li>


      <li><h4>Other locations</h4><a href="//www.warwickshire.gov.uk/onestopshops">One Stop Shops</a><br /><a href="//www.warwickshire.gov.uk/locationmap">Warwick office map</a><br /></li>
    </ul>
  </div>
  <div class="footer-sub">
    <h3>Sections</h3>
    <ul>
      <li><a href="//www.warwickshire.gov.uk/business">Business &amp; finance</a></li>
      <li><a href="//www.warwickshire.gov.uk/environment">Environment</a></li>
      <li><a href="//www.warwickshire.gov.uk/librariesandleisure">Libraries &amp; leisure</a></li>
      <li><a href="//www.warwickshire.gov.uk/registrations">Registrations</a></li>
      <li><a href="//www.warwickshire.gov.uk/roadsandtravel">Roads &amp; travel</a></li>
      <li><a href="//www.warwickshire.gov.uk/safetyandcrime">Safety &amp; crime</a></li>
      <li><a href="//www.warwickshire.gov.uk/schoolsandlearning">Schools &amp; learning</a></li>
      <li><a href="//www.warwickshire.gov.uk/socialcareandhealth">Social care &amp; health</a></li>
    </ul>
  </div>
  <div class="footer-sub">
    <h3>Information for</h3>
    <ul>
      <li><a href="//www.warwickshire.gov.uk/businesses">Businesses</a></li>
      <li><a href="//www.warwickshire.gov.uk/carers">Carers</a></li>
      <li><a href="//www.warwickshire.gov.uk/childrenandyoungpeople">Children &amp; young people</a></li>
      <li><a href="//www.warwickshire.gov.uk/commuters">Commuters</a></li>
      <li><a href="//www.warwickshire.gov.uk/disabledpeople">Disabled people</a></li>
      <li><a href="//www.warwickshire.gov.uk/jobseekers">Job seekers</a></li>
      <li><a href="//www.warwickshire.gov.uk/motorists">Motorists</a></li>
      <li><a href="//www.warwickshire.gov.uk/olderpeople">Older people</a></li>
      <li><a href="//www.warwickshire.gov.uk/parents">Parents &amp; guardians</a></li>
      <li><a href="//www.warwickshire.gov.uk/tourists">Tourists and visitors</a></li>
    </ul>
  </div>
  <div class="footer-socials">
    <h3>Find us on</h3>
    <ul>
      <li><a href="//audioboo.fm/wcc_news">Audioboo</a></li>
      <li><a href="//www.flickr.com/photos/56273443@N04">Flickr</a></li>
      <li><a href="//twitter.com/WarksDirect">Twitter</a></li>
      <li><a href="//www.youtube.com/warwickshirecc">YouTube</a></li>
      <li><a href="//www.warwickshire.gov.uk/socialnetworking">Other social networks</a></li>
    </ul>
    <h3 class="footer-sub-h3">Feedback</h3>
    <ul>
      <li><a href="//www.warwickshire.gov.uk/complaints" accesskey="7">Complaints</a></li>
      <li><a href="//www.warwickshire.gov.uk/consultations">Consultations</a></li>
      <li><a href="//www.warwickshire.gov.uk/customerservice">Customer service</a></li>
    </ul>
  </div>

  <div id="footer-sites">
    <h3>Our sites</h3>
    <dl>
      <dt><a href="//www.warwickshire.gov.uk/home">Warwickshire Direct</a></dt>
      <dt><a href="//www.warwickshire.gov.uk/corporate">The Council</a></dt>
      <dt><a href="//www.warwickshire.gov.uk/childrenandyoungpeople">Children &amp; Young People</a></dt>
      <dt><a href="//www.warwickshire.gov.uk/spp">Staff Partners and Practitioners</a></dt>
    </dl>
  </div>
  <div class="cleaner">&nbsp;</div>
</div>
<div id="footer-logos-bottom">
  <ul>
    <li><a href="//www.gov.uk"><img src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/govuk-logo/$file/GovUKLogo.png" alt="Gov.uk" /></a></li>
    <li><a href="//www.warwickshire.gov.uk//www.stratford.gov.uk"><img src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/SDClogoFooter/$file/sdclogo.png" alt="Stratford District Council" /></a></li>
    <li><a href="//www.warwickshire.gov.uk//www.rugby.gov.uk"><img src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/RBClogo/$file/rbclogo.png" alt="Rugby Borough Council" /></a></li>
    <li><a href="//www.warwickshire.gov.uk//www.nuneatonandbedworth.gov.uk"><img src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/NBBClogo/$file/nbbclogo.png" alt="Nuneaton and Bedworth Borough Council" /></a></li>
    <li><a href="//www.northwarks.gov.uk"><img src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/NWBClogofooter/$file/nwbc-small-footer.png" alt="North Warwickshire Borough Council" /></a></li>
    <li><a href="//www.warwickdc.gov.uk"><img src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/WDClogosmallfooter/$file/wdc-logo-footer.png" alt="Warwick District Council" /></a></li>
    <li><a href="//www.warwickshire.police.uk"><img src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/WarksPollogo/$file/warkspollogo.png" alt="Warwickshire Police" /></a></li>
    <li><a href="//www.warwickshire.nhs.uk"><img src="//www.warwickshire.gov.uk/Web/graphics/Graphics.nsf/graphics/NHSWarkslogo-small/$file/NHSWarkslogo.png" alt="NHS Warwickshire" /></a></li>
  </ul>
</div>
<div class="cleaner">&nbsp;</div>

<div id="copyrightfooter">
  <ul>
    <li><a href="//www.warwickshire.gov.uk/disclaimer">© Warwickshire County Council</a></li>
  </ul>
</div>
