<h1>Restore previous answers</h1>
<p>
  Continuing will 
<% if @qwester_answer_store %>
  remove your current answers and replace them with those 
<% else %>
  restore the answers
<% end %>
  stored on <%= @answer_store.updated_at.to_s(:date) %>.
</p>
<p>
  Do you wish to to continue?
</p>
<%= form_for(@answer_store) do |form| %>
  <%= form.submit('Yes') %>
  <%= link_to('No', root_path) %>
<% end %>