<ul id="question_list">
<% questionnaire.questions.each do |question| %>
  <li>
    <%= question.title %>
    <%= link_to('Up', "/admin/questionnaires/#{questionnaire.id}/questions/#{question.id}/move_up", :class => 'move') unless questionnaire.first?(question) %>
    <%= link_to('Down', "/admin/questionnaires/#{questionnaire.id}/questions/#{question.id}/move_down", :class => 'move') unless questionnaire.last?(question) %>
  </li>
<% end %>
</ul>