// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colours';

#page {
  .content {
    padding: 10px;
  }
}

table.answers_by_questionnaire {
  
  border: $green 2px solid;
  
  border-spacing: 0.5em;
  
  margin: 0 auto 2em;
  width: 95%;
  caption {
    font-size: 1.2em;
    font-weight: bold;
    background-color: $green;
    
    a {
      color: $white;
    }
  }
  
  th {
    text-align: left; 
  }
  
  tr td:last-child {
    width: 35%;
  }
  
  tr {
    margin-bottom: 0.8em;
  }
  
  td {
    vertical-align: top; 
  }
    
  
}

.warning {
  border: $warning solid 2px;
  padding: 0;
  margin: 0 auto 2em;
  width: 95%;
  
  h2, .footer {
    margin: 0;
    padding: 2px;
    background-color: $warning;
    color: $white;
  }
  
  .footer {
    text-align: right;
    font-style: italic;
  }
    
  .body {
    padding: 5px;
  }
}