@import 'colours';

.ui-widget-header {
  background: $green ; 
}

h1 {
  background-color: $green;
  color: $white;
  padding: 3px 5px;
}

ul.selection {
  display: inline-block;
  
  li {
    width: 700px;
    margin: 3px 0 10px;
    padding: 0;
    position: relative;
    
    a {
      padding: 0 1px;
      display: inline-block;
    }
        
    span.options {
      display: inline-block;
      //position: absolute;
      //right: 2px;
      //top: 0;
      //width: 230px;
      margin-left: 20px;
      
      input {
        margin-right: 12px;
      }
      
    }
    
    ul.options {
      padding: 5px 5px 5px 25px;
      
      li {
        margin: 0;
      }
      
      input {
        margin-right: 12px;
      }
    }
    
    label {
        display: inline-block;
        width: 450px;
    }
    
    
    
  }
}

.admin_input {
  ul {
    li {
      list-style-type: disc;
    }
  }

  ol {
    li {
      list-style-type: decimal;
    }
  }
}