@import 'colours';

.ui-widget-header {
  background: $green ; 
}

nav {
  ul {
    li {
      display: inline;
      margin-right: 20px;
    }
  }
}

h1 {
  background-color: $green;
  color: $white;
  padding: 3px 5px;
}

ul.selection {
  display: inline-block;
  
  li {
    width: 700px;
    margin: 3px 0;
    padding: 0;
    position: relative;
    
    a {
      padding: 0 1px;
      display: inline-block;
    }
        
    span.options {
      display: inline-block;
      position: absolute;
      right: 2px;
      top: 0;
      width: 230px;
      
      input {
        margin-right: 12px;
      }
      
    }
    
    label {
        display: inline-block;
        width: 450px;
    }
    
  }
}
