@import 'colours';

.ui-widget-header {
  background: $green ; 
}

.container {
  position: relative;
}

.container .nav-buttons {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 1;
}

h1.headline {
  background-color: $green;
  color: $white;
  margin: 0;
  padding: 10px 20px;
}

ul.selection {
  display: inline-block;
  
  li {
    width: 700px;
    margin: 3px 0 10px;
    padding: 0;
    position: relative;
    
    a {
      padding: 0 1px;
      display: inline-block;
    }
        
    span.options {
      display: inline-block;
      margin-left: 20px;
      
      input {
        margin-right: 12px;
        vertical-align: top;
      }
      
    }
    
    ul.qwester_options {
      padding: 5px 5px 5px 25px;
      
      li {
        margin: 5px 0;
      }
      
      input {
        margin-right: 12px;
      }
    }
    
    label {
        display: inline-block;
        width: 450px;
    }
    
    
    
  }
}

.admin_input {
  ul {
    li {
      list-style-type: disc;
    }
  }

  ol {
    li {
      list-style-type: decimal;
    }
  }
}