// Place all the styles related to the questionnaires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-state-default .ui-icon {
  position: absolute;
  right: 0;
}

.ui-tabs .ui-tabs-nav li a {
  padding: .5em 1.3em .5em 1em;
}


.tabs ul {
  width: 90%;   
}

.questionnaire_button {
  position: relative;
  
  display: inline-block;
  height: 160px;
  width: 160px;
  margin: 0 30px 10px 0;
    
  a {
    position: absolute;
    width: 100%;
  }
  
  a.image_link {
    bottom: 35px;
    
    img {
      display: block;
      margin: 0 auto;
    }
  }
  
  a.text_link {
    top: 125px;
    text-align: center;
  }
  
}