// Place all the styles related to the questionnaires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colours';

.ui-state-default .ui-icon {
  position: absolute;
  right: 0;
}

.ui-tabs .ui-tabs-nav li a {
  padding: .5em 1.3em .5em 1em;
}


.tabs ul {
  width: 90%;   
}

#tabs {
  li.rule_matches {
    background-color: $visited;
    background-image : none;
  }
}

.questionnaire_buttons {

  $button_width: 190px;
  $button_margin_left: 0;
  $button_margin_right: 30px;
  $button_margin_width: $button_margin_left + $button_margin_right;
  $buttons_per_line: 4;
  
  max-width: ($button_width * $buttons_per_line) + $button_margin_width;
  
  margin: 0 auto;
  
  .button {
    position: relative;

    display: inline-block;
    height: 165px;
    width: $button_width - $button_margin_width;
    margin: 0 $button_margin_right 10px $button_margin_left;

    a {
      position: absolute;
      width: 100%;
    }

    a.image_link {
      bottom: 35px;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    a.text_link {
      top: 130px;
      text-align: center;
    }

    &.visited {
      background-color: $visited; 
    }

  }
}

.tooltip {
  padding-right: 30px;
  background-image: url(image_path('tooltip.png'));
  background-repeat: no-repeat;
  background-position: right;
}