.reports {

  $report_width: 300px;
  $report_margin_left: 0;
  $report_margin_right: 30px;
  $report_margin_width: $report_margin_left + $report_margin_right;
  $reports_per_line: 2;
  
  max-width: ($report_width * $reports_per_line) + $report_margin_width;
  
  margin: 0 auto;
  
  .report {
    position: relative;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    width: $report_width - $report_margin_width;
    margin: 0 $report_margin_right 10px $report_margin_left;

    td, th {
      font-size: 0.9em;
    }
    
    caption {
      font-weight: bold;
    }
  }
  td, th {
    padding-right: 8px;
    text-align: left;
  }
}
