@import 'colours';

article.rule_set_output {
  border: solid 3px $green;
  margin: 0 20px 15px;
  
  h2 {
    background-color: $green;
    color: $white;
    margin: 0;
    padding: 3px 5px;
  }
  
  p {
    padding: 5px 10px;
  }
}
