.warning {
  position: absolute;
  left:30%;
  top: 100px;
  margin: auto;
  width: 40%;
  z-index: 10000;
  background-color: #fff;
  border: #ff0000 solid 3px;

  h2 {
    background-color: #ff0000;
    color: #ffffff;
    margin: 0;
  }

  h2, p {
    padding: 5px;
  }
}