@import 'colours';

.warning {
  position: absolute;
  left:30%;
  top: 100px;
  margin: auto;
  width: 40%;
  z-index: 10000;
  background-color: $white;
  border: $warning solid 3px;

  h2 {
    background-color: $warning;
    color: $white;
    margin: 0;
  }

  h2, p {
    padding: 5px;
  }

  .heading {
     position: relative;

    .close {
      position: absolute;
      top: 0;
      right: 0;
    }

    a {
      color: $white;
    }
  }
}