// Modifies WCC styling defaults

body.style-1 
{
  .container > footer {
      margin: 0;
  }

  .btn-info, .btn-info:hover, 
  .btn-success, .btn-success:hover,
  .btn-primary, .btn-primary:hover {
    color: white;
    text-decoration: none;
  }

  input.btn {
    font-weight: bold;
    font-size: 14px;
  }

}