<article class="rule_set_output">
  <h2><%= rule_set.title %></h2>
  <p><%= rule_set.description %></p>
  <p>
    <%= link_to('Click here', rule_set.url, :target => '_blank') %>
    for a list of services related to 
    <%= rule_set.title %>
  </p>
</article>