<h1>Reports</h1>

<div class ="reports"">         
<% @charts.each do |name, chart| %>
  <div class="report">
<%   if chart.kind_of? Report::Chart %>
    <%= link_to image_tag(chart.graph(:max_labels => @max_labels).to_url), report_path(name) %>
<%   else %>
    
    <table>
      <caption><%= link_to chart.title, report_path(name) %></caption>
      <tr>
        <%= chart.headings.collect{|h| content_tag('th', h)}.join.html_safe %>
      <tr>
<%      chart.data[0...@max_list_items].each do |line| %>
      <tr>
        <%= line.collect{|col| content_tag('td', col)}.join.html_safe %>
      </tr>
<%     end %>
    </table>
<%   end %>
  </div>
<% end %>
</div>
