<h1>Reports</h1>

<div class ="reports"">         
<% @charts.each do |name, chart| %>
  <div class="report">
<%   if chart.respond_to? :to_url %>
    <%= link_to image_tag(chart.to_url), report_path(name) %>
<%   else %>
    <table>
      <tr>
        <th><%= link_to name.to_s.humanize, report_path(name) %></th>
      </tr>
      <%= chart[0...4].collect{|c| content_tag('tr', content_tag('td', content_tag('small', c)))}.join("\n").html_safe %>
    </table>
<%   end %>
  </div>
<% end %>
</div>
