<div class="reports">
<%   if @chart.kind_of? Report::Chart %>
  <%= graph_for(@chart) %>     
<%   else %>
    <table>
      <tr>
        <%= @chart.headings.collect{|h| content_tag('th', h)}.join.html_safe %>
      <tr>
<%     @chart.data.each do |line| %>
      <tr>
        <%= line.collect{|col| content_tag('td', col)}.join.html_safe %>
      </tr>
<%     end %>
    </table>
<%   end %>
</div>

<%= link_to "All reports", reports_path %>
