<!DOCTYPE html>
<html>
<head>
  <title><%= controller_name.humanize %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

    <%= yield %>

</body>
</html>
